<table>
    <%
        for ( var cont = 0; cont < dadosBlog.length; cont++ ) {
            var _cont = dadosBlog[cont]
            %>
            <tr><td>-------------------Registro </td><td>-<%= cont+1 %>----------------</td></tr>
            <tr>
                <td>ID[<%= cont+1 %>] = </td> <td> <%= _cont.id %></td>
            </tr>
            <tr>
                <td>Nome[<%= cont+1 %>] = </td> <td> <%= _cont.name %></td>
            </tr>
            <tr>
                <td>Email[<%= cont+1 %>] = </td> <td> <%= _cont.email %></td>
            </tr>
            <tr>
                <td>Telefone[<%= cont+1 %>] = </td> <td> <%= _cont.phone %></td>
            </tr>
            <tr>
                <td><a href="/delete/<%= _cont.id %>">EXCLUIR</a></td>
                <td><a href="/update/<%= _cont.id %>&<%= _cont.name %>&<%= _cont.email %>&<%= _cont.phone %>">ALTERAR</a></td>
            </tr>
            <%
        }
    %>
</table>